.home {
    position: relative;
}

.home__wrapper {
    height: 100%;
    width: 100%;
}

.home__right,
.home__left {
    display: inline-block;
    float: left;
}

.home__right {
    background-color: var(--light);
    width: 50%;
}

.home__left {
    background-color: var(--main);
    width: 50%;
}

.home__title {
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}

.home__title .title__letters--top {
    transform: translateY(-120vh);
}

.home__title .title__letters--bottom {
    transform: translatex(120vw);
}



/*media queries*/
@media only screen and (max-width: 1400px) {
    
}



@media only screen and (max-width: 1023px) {
    
}


@media only screen and (max-width: 767px) {
    
    .home__left,
    .home__right {
        height: 100vh;
        position: fixed;
        z-index: -1;
        top:0;
    }
    
    .content--open .content__left.home__left {
        position: relative;
    }

    .home__right {
        width: 50%;
        right: 0;
    }
    
    .home__left {
        width: 50%;
        left: 0;
    }
    
    
}




