.menu {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all .5s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 200px;
}

.menu--open {
    transform: translateX(0);
}

.nav-hover .menu {
    transform: translateX(-87%);
}

.menu__navbar {
    list-style: none;
    margin-bottom: 100px;
}

.menu__navbar li {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
}

.menu__navbar-item {
    z-index: 10;
    position: relative;
}

.menu__navbar-item:before {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    height: 17px;
    width: 0;
    z-index: -1;
    transition: all .8s cubic-bezier(1, 0, 0, 1) 0ms;
}

.menu__navbar-item:hover::before {
    width: 100%;
}

.menu__navbar-item--about::before {
    background-color: var(--about);
}

.menu__navbar-item--projects::before {
    background-color: var(--projects);
}

.menu__navbar-item--contact::before {
    background-color: var(--contact);
}

.menu__info {
    font-size: 1rem;
    font-weight: 700;
}

.menu__city {
    font-weight: 500;
}

.menu__info > div {
    margin-bottom: 4px;
}


/*media queries*/
@media only screen and (max-width: 1400px) {
    
    .menu {
        padding: 120px 0 120px 140px;
    }
    
    .menu__navbar li {
        margin-bottom: 10px;
        font-size: 1.4rem;
    }
    
    .menu__navbar-item:before {
        top: 15px;
        height: 10px;
    }
    
    .menu__info {
        font-size: .7rem;
    }
    
}


@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    
    .menu {
        width: 75%;
        padding: 20px;
    }
    
    .nav-hover .menu {
        transform: translateX(-100%);
    }
    
    .menu.menu--open {
        transform: translateX(0);
    }
    
}


